#avatar {
    width: 90px;
    height: 90px;
    margin-left: 150px;
}

#grid {
    margin-bottom: 100px;
}

#username {
    font-size: 30px;
}

#first {
    font-size: 30px;
}

#followButton {
    margin-top: 40px;
}